<div class="row mt-3">
  <div class="col-md-6 mx-auto ">
    <div class="card">
      <div class="card-body">
        <h1 class="text-center">REGISTRO</h1>
        <form class=""  method="post">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" value="">
          </div>

          <div class="form-group">
            <label for="password">Contraseña</label>
            <input type="password" class="form-control" name="password" id="password" value="">
          </div>

          <button type="button" class="btn btn-primary btn-block btn-lg" name="button">ENVIAR</button>
        </form>

      </div>
    </div>
  </div>
</div>
